{% extends 'Momentgram/base.html' %}
{% block content %}

{% load static %}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        padding: 20px;
    }

    .title {
        color: grey;
        font-size: 18px;
    }
    .search-wrapper {
        padding: 5px;
        margin-left: auto;
        width: 25%;
        margin-top: 10px;
        margin-right: auto;
    }
</style>
<script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
    <div class="search-wrapper">
        <input type="text" v-model="search" placeholder="Search friend to chat..." class="searcher"/>
    </div>
    <div class="row" style="overflow-y: auto; width: 100%">
        <div class="col-4" style="margin-top: 20px; padding:10px 0;" id="v-for-resources" v-for="dict in filteredList">
            <div class="card">
                <img src="/media/((dict.image))"/>
                <h1><ahref>((dict.name))</ahref></h1>
                <p class="title"><a>((dict.username))</a></p>
            </div>
        </div>
    </div>
</div>
<script>
    let app = new Vue({
        el: '#app',
        delimiters: ["((","))"],
        data: {
            getUsers: [],
            search: '',
        },
        mounted() {
            let self = this;
            $.ajax({
                url: '../get_users/jbareaco8/',
                method: 'GET',
                success: function (data) {
                    self.getUsers = data.users;
                },
                error: function (error) {
                    console.log("ERROR");
                }
            });
        },

        computed: {
            filteredList() {
                return this.getUsers.filter(user => {
                    return user.name.toLowerCase().includes(this.search.toLowerCase()) || user.username.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        }
    });
</script>
{% endblock %}