{% extends 'Momentgram/base.html' %}
{% block content %}

{% load static %}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        padding: 20px;
    }

    .title {
        color: grey;
        font-size: 18px;
    }
    .search-wrapper {
        padding: 5px;
        margin-left: auto;
        width: 25%;
        margin-top: 10px;
        margin-right: auto;
    }
</style>
<script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
    {% if isProfile %}
    <div class="search-wrapper">
        <input type="text" v-model="search" placeholder="Search friend to see profile..." class="searcher"/>
    </div>
    {% else %}
    <div class="search-wrapper">
        <input type="text" v-model="search" placeholder="Search friend to chat..." class="searcher"/>
    </div>
    {% endif %}
    <div class="row" style="overflow-y: auto; width: 100%">

        <div class="col-4" style="margin-top: 20px; padding:10px 0;" id="v-for-resources" v-for="dict in filteredList">
            {% load cloudinary %}
            {% if isProfile %}
            <div class="card">
                <h1><a :href="urlProfile(dict.username)">((dict.name))</a></h1>
                <p class="title"><a :href="urlProfile(dict.username)">((dict.username))</a></p>
            </div>
            {% else %}
            <div class="card">
                <h1><a :href="urlChat(dict.username)">((dict.name))</a></h1>
                <p class="title"><a :href="urlChat(dict.username)">((dict.username))</a></p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    let app = new Vue({
        el: '#app',
        delimiters: ["((","))"],
        data: {
            getUsers: [],
            search: '',
            media: '/media/'
        },
        mounted() {
            let self = this;
            $.ajax({
                url: '../get_users/jbareaco8/',
                method: 'GET',
                success: function (data) {
                    self.getUsers = data.users;
                },
                error: function (error) {
                    console.log("ERROR");
                }
            });
        },

        computed: {
            filteredList() {
                return this.getUsers.filter(user => {
                    return user.name.toLowerCase().includes(this.search.toLowerCase()) || user.username.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        },
        methods :{
            urlProfile(id) {
                return '../profile='+id
            },
            urlChat(id) {
                return '../chat/'+id
            },

        }
    });
</script>
{% endblock %}